@font-face {
    font-family: "oswald";
    src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-familyh: "roboto";
    src: url(./assets/fonts/Roboto-Condensed.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    --primary-font: "oswald";
    --secondary-font: "roboto";
    
    --primary-color: #281800;
    --secondary-color: #DFC7AC;
}


header {
    background-color: var(--primary-color);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
    color: var(--secondary-color);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: var(--primary-font);
    }
}
section {
    display: flex;
    border-bottom: 20px solid rgb(90, 72, 39);
    flex-wrap: wrap;
}

article {
    /* rotate: 270deg;
    width: 100%; */
    font-family: var(--secondary-font);

    a {
        color: black;
        text-decoration: none;
    }
}

.genre-Thriller {
    background-color: red;
}

.genre- {
    background-color: green;
    height: 100%;
}

/* .genre-Action {

}

.genre-Drama {

}

.genre-Comedy {

} */

footer {
    background-color: var(--primary-color);
    height: 4rem;
}